.products-layout {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 430px) and (max-width: 770px) {
  .products-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 771px) { 
  .products-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
