<div class="container-fluid show-mobile" [hidden]="hidden">
  <div class="row">
      <nav class="navbar bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <img class="cart-logo" src="../../../assets/images/cart-shop.png" alt="Add to cart">
          <span class="counter"> {{ counter }} </span>
          <img class="main-logo" src="../../../assets/images/sam-logo.png" alt="SAM Logo">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <img src="../../../assets/images/sam-logo.png" class="toggle-logo" alt="">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Summer</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Autumn</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Winter</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Spring</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
  </div>
</div>

<div class="container-fluid header-container show-desktop" hidden>
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="col-4">
          <img class="main-logo" src="../../../assets/images/sam-logo.png" alt="SAM Logo"> 
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-6 collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Summer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Autumn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Winter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Spring</a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <img class="cart-logo" src="../../../assets/images/cart-shop.png" alt="Add to cart">
        </div>
      </div>
    </nav>
</div>